# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/tsvikas/sync-with-uv
    rev: v0.4.0
    hooks:
       # Syncing ruff hook with version in uv lockfile
      - id: sync-with-uv
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell # See pyproject.toml for args
        additional_dependencies:
          - tomli
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10 # Ruff version
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3 # uv version
    hooks:
      # Update the uv lockfile
      - id: uv-lock
